<div class="row">
  <div class="col-md-6">
    <h3>Signup</h3>
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <!-- title -->
      <div class="form-group">
        <label for="">Name:</label>
        <input class="form-control" type="text" formControlName="name">
      </div>
      <!-- description -->
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="email" formControlName="email">
      </div>
      <!-- password -->
      <div class="form-group">
        <label for="">Password:</label>
        <input class="form-control" type="password" formControlName="password">
      </div>
      <!-- submit button -->
      <button class="btn btn-success" type="submit" [disabled]="form.invalid">Sign up</button>
    </form>
  </div>
</div>
